<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @website.name %>
</p>

<p>
  <b>Url:</b>
  <%= @website.url %>
</p>

<p>
  <b>Image Url:</b>
  <%= @website.imageurl %>
</p>
<p>
  <b>Preview Image Url:</b>
  <%= @website.previewimageurl %>
</p>

<p>
  <b>Description:</b>
  <%= @website.description %>
</p>

<p>
  <b>Short Description:</b>
  <%= @website.shortdescription %>
</p>


<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>
