<article>
  <h2><%= @blog.title %></h2>
  <p>This post is<%= " not" unless @blog.published? %> published</p>
  <p>This post is<%= " not" unless @blog.featured? %> featured</p>
  <%= raw @blog.post %>
  
</article>
<%= link_to 'Back', blogs_path %>
