<h1>Admin Page</h1>
<p><%= link_to "Blog Management", blogs_path %></p>
<p><%= link_to "User Management", users_path %></p>
<p><%= link_to "Website Management", websites_path %></p>
<p><%= link_to "Skill Type Management", skilltypes_path %></p>
<p><%= link_to "Skill Management", skills_path %></p>
<p><%= link_to "Education Management", educations_path %></p>
<p><%= link_to "Testimonial Management", testimonials_path %></p>
<p><%= link_to "Employment Management", employments_path %></p>
