<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size =>40 %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, :size =>40 %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Confirm' %><br />
    <%= f.password_field :password_confirmation, :size =>40 %>
  </div>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.text_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :fullname %><br />
    <%= f.text_field :fullname %>
  </div>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :welcome %><br />
    <%= f.text_field :welcome %>
  </div>

  <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </div>

  <div class="field">
    <%= f.label :github %><br />
    <%= f.text_field :github %>
  </div>

  <div class="field">
    <%= f.label :linkedin %><br />
    <%= f.text_field :linkedin %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
