<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @skill.name %>
</p>

<p>
  <b>Skilltype:</b>
  <%= @skill.skilltype_id %>
</p>

<p>
  <b>Rating:</b>
  <%= @skill.rating %>
</p>


<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
