<div class="row" id="content">
  <div class="span9" id="main-content">
    <div class="section first-section" id="about-me">
      <div class="row author">
        <div class="span2">
          <%= image_tag @user.avatar, "class" => "img-rounded" %>
        </div>
        <div class="span7">
          <h1><%= @user.fullname %></h1>
  		   	<h2 class="primary-color"><%= @user.title %></h2>
  		   </div>
  		 </div>
 
  		 <div class="well">
  		   <%= raw @user.welcome %>
      </div>
        
      	<div class="social-media noprint">
					<h5>Follow me</h5>
					<div>
						<div class="tips icon-btn" title="Github" data-placement="bottom"><a href="<%= @user.github %>" target="_blank" class="glyphicons white github"><i></i></a></div>
						<div class="tips icon-btn" title="Twitter" data-placement="bottom"><a href="<%= @user.twitter %>" target="_blank" class="glyphicons white twitter"><i></i></a></div>
						<div class="tips icon-btn" title="Linkedin" data-placement="bottom"><a href="<%= @user.linkedin %>" target="_blank" class="glyphicons white linked_in"><i></i></a></div>
					</div>
				</div>		
    	</div><!--/section--> 

      <div class="section" id="personal-information">
        <h2 class="section-title"><span class="glyphicons white user"><i></i></span>Personal Information<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>

  		  <div class="row">
  		  	<span class="clear"></span>
        	<div class="infoline span9">
            <div class="row">
  		  	    <div class="span2 muted">Email</div>
  		  	    <div class="span7"><a href="mailto:<%= @user.email %>"><%= @user.email %></a></div>
  		  	  </div>
  		  	</div>
  	
  		  	<span class="clear"></span>
  	
        	<div class="infoline span9">
        	  <div class="row">
  			  	  <div class="span2 muted">Phone</div>
  			  	  <div class="span7">514-992-4515</div>
  			    </div>
  			  </div>
  			  
  		  	<span class="clear"></span>
  	
        	<div class="infoline span9 last">
        	  <div class="row">
  			  	  <div class="span2 muted">Website</div>
  			  	  <div class="span7"><a target="_blank" href="<%= @user.website %>" title=""><%= @user.website %></a></div>
  			    </div>
  			  </div>
  			  
  		  	<span class="clear"></span>
  	  	</div>
    	</div><!--/section-->

    		<div class="section" id="employment">
  		  	<h2 class="section-title"><span class="glyphicons white share_alt"><i></i></span>Employment<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>
  	
  	      <% unless @employments.empty? %>
  		  	  <div class="timeline">
              <% @employments.each_with_index do |employment, index| %>
                <div class="timeline-item">
       	  		    <div class="timeline-item-date"><%= employment.start_date.year %>
       	  			 	  <% unless employment.start_date.year == employment.finish_date.year %>
       	  			 	    -  <%= employment.finish_date.year %>
       	  			 	  <% end %>
       	  			 	</div>
       	  			 <div class="timeline-item-trigger"><span class="glyphicons white <%= if index == 0 then "circle_minus" else "circle_plus" end %>" data-toggle="collapse" data-target="#employment<%= index %>"><i></i></span></div>
       	  			 	<div class="timeline-arrow"><i></i></div>
       	  			 	<div class="timeline-item-content">
       						<h3 class="timeline-item-title" data-toggle="collapse" data-target="#employment<%= index %>"><%= employment.position %></h3>
       						<div class="collapse <%= if index == 0 then "in" end %>" id="employment<%= index %>">
       							<p><small class="muted">from <%=  employment.start_date.strftime("%B %Y") %> to <%= employment.finish_date.strftime("%B %Y") %></small></p>
       							<h4 class="media-heading primary-color"></h4>
       							<%= raw employment.description %>
       							<% if employment.website? %>
       							  <p><a href="<%= employment.website %>" target="_blank" title="View Website" class="noprint">&rarr; View website</a></p>
      							<% end %>
      							
       						</div>
       					</div>
       				 </div><!--/timeline-item--> 
       				 <span class="clear"></span>
     	  			
              <% end %>
            </div><!--/timeline --> 
            <span class="clear"></span>
          <% end %>
  		</div><!--/section-->
	
	
  	  	<div class="section" id="education">
  		  	<h2 class="section-title"><span class="glyphicons white certificate"><i></i></span>Education<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>
  	
  	      <% unless @educations.empty? %>
  		  	  <div class="timeline">
              <% @educations.each_with_index do |education, index| %>
                 <div class="timeline-item">
       	  			 	<div class="timeline-item-date"><%= education.start_date.year %> - <%= education.finish_date.year %></div>
       	  			 	<div class="timeline-item-trigger"><span class="glyphicons white <%= if index == 0 then "circle_minus" else "circle_plus" end %>" data-toggle="collapse" data-target="#education<%= index %>"><i></i></span></div>
       	  			 	<div class="timeline-arrow"><i></i></div>
       	  			 	<div class="timeline-item-content">
       						<h3 class="timeline-item-title" data-toggle="collapse" data-target="#education<%= index %>"><%= education.school %></h3>
       						<div class="collapse <%= if index == 0 then "in" end %>" id="education<%= index %>">
       							<p><small class="muted">from <%=  education.start_date.strftime("%B %Y") %> to <%= education.finish_date.strftime("%B %Y") %></small></p>
       							<h4 class="media-heading primary-color"><%= raw education.description %></h4>
       						</div>
       					</div>
       				 </div><!--/timeline-item--> 
       				 <span class="clear"></span>
     	  			
              <% end %>
            </div><!--/timeline --> 
            <span class="clear"></span>
          <% end %>
  	  	</div><!--/section-->

  	  	<div class="section skills" id="skills">
  	  		<h2 class="section-title"><span class="glyphicons white cogwheels"><i></i></span>Skills<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>

          <% if @skills %>
            <% @skills.each do |skill| %>
      
            <% unless @currentSkillTypeId && @currentSkillTypeId == skill.skilltype.id %>
                <% @currentSkillTypeId = skill.skilltype.id %>
      		  	  <h3><%= skill.skilltype.name %></h3>
            <% end %>
      
              <div class="row">
      		  		<div class="span2"><%= skill.name %></div>
      		  		<div class="span3">
      		  			<span class="printonly">Good</span>
      		  			<div class="progress">
         						<div class="bar" style="width: <%= skill.rating %>%;"></div>
          				</div>
      		  		</div>
      		  	</div>
      
            <% end %>
          <% end %>
  	
  		  	<hr/>
  				  	

  	
  	  	</div><!--/section-->

  	    	<div class="section" id="testimonials">
  			  	<h2 class="section-title"><span class="glyphicons white comments"><i></i></span>Testimonials<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>
	  	
			  	  <% unless @testimonials.empty? %>
              <% @testimonials.each do |testimonial| %>
              <div class="testimonial">
    			  	  <div class="media">
                  <% if testimonial.avatar %>
                    <%= image_tag testimonial.avatar, "class" => "media-object pull-left" %>
                  <% end %>
                  
      					  <div class="media-body">
      				  	  <blockquote>
      						    <p><%= testimonial.description %></p>
      						    <small><%= raw testimonial.author %></small>
      					    </blockquote>
        				  </div>
      				  </div>
    				  </div>
			  	    <% end %>			  	      
			  	  <% end %>

  			</div><!--/section-->
	
  			<div class="section hobbies" id="hobbies">
  		  		<h2 class="section-title"><span class="glyphicons white heart_empty"><i></i></span>Hobbies<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>
	  	
  			  	<div class="row">
  			  		<div class="span9">
  			  		  <span class="label"><span class="glyphicons white empty"><i></i>Ball Hockey</span></span>
  			  			<span class="label"><span class="glyphicons white empty"><i></i>NFL</span></span>
  			  			<span class="label"><span class="glyphicons white empty"><i></i>NHL</span></span>
                <span class="label"><span class="glyphicons white dog"><i></i>Lyla</span></span>
    		  		</div>
  			  	</div>
	  	
  		  	</div><!--/section-->
  	
  		  		<div class="section clearfix noprint" id="portfolio">
      				<h2 class="section-title"><span class="glyphicons white show_thumbnails"><i></i></span>Portfolio<a href="#phone-navbar" class="top visible-phone">  <span class="glyphicons white up_arrow"><i></i></span></a></h2>
              <div class="row" id="portfolio-items">
    				    <!-- Featured Portfolio items -->
              <% unless @websites.empty? %>
                <% @websites.each_with_index do |website, index| %>
                  <div class="span3 portfolioitem portfolio-type1">
                    <%= image_tag website.previewimageurl %>
                    <div class="portfolioitem-hoverinfo">
                      <%= raw website.shortdescription %>                    
                      
                      <div class="portfolioitem-actions">
                        <% if website.url? %>
                          <a href="<%= website.url %>" class="tips img-circle lightbox" title="Preview website" data-placement="bottom" data-fancybox-group="portfolioimages"><span class="glyphicons white zoom_in"><i></i></span></a>
                        <% end %>
      								
        								<a href="#portfolioitem-<%= index %>" class="tips more-info img-circle" title="View Project" data-placement="bottom"><span class="glyphicons white share"><i></i></span></a>
        							</div>
                    </div>
                    
        					</div>
                <% end %>
              <% end %>
    					</div> <!-- Featured Portfolio items -->

              	<div class="row" id="full-portfolio-items">
        					<div class="span9">

        						<a href="#" class="btn btn-primary hidden" id="portfolio-back">&larr; Back to Portfolio List</a>
        						
                    <% unless @websites.empty? %>
                      <% @websites.each_with_index do |website, index| %>
            						<div class="portfolioitem-content hidden" id="portfolioitem-<%= index %>">
            							<%= image_tag website.imageurl %>
            							<h2 class="primary-color"><%= website.name %></h2>
            							<div>
            							  <%= raw website.description %>
            							  <% if website.url? %>
            							    <p><a href="<%= website.url %>" target="_blank" title="View Website" class="noprint">→ View website</a></p>
                            <% end %>
                            
            							</div>

            							<ul class="pager">
            								<li class="previous"><a href="#portfolioitem-<%= (index - 1) % @websites.size %>" class="">&larr; Previous</a></li>
            								<li class="next"><a href="#portfolioitem-<%= (index - 1) % @websites.size %>" class="">Next &rarr;</a></li>
            							</ul>

            						</div>
          						
                      <% end %>
                    <% end %>
        				  </div><!--/span9-->
        			  </div><!--/row-->
      		  </div><!--/section-->
		
		
      		<div class="section noprint" id="blog">
      			<h2 class="section-title"><span class="glyphicons white pencil"><i></i></span>Blog<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>

      			<!-- Featured Blog items -->
      			<% @posts.each do |post| %>
      			<div class="row" id="blog-items">
      				<div class="span3 blogitem">
      					<img src="./images/thumbblog01.jpg" alt="">
      					<h3>Lorem ipsum</h3>
      					<div class="blogitem-date">
      						<span class="month">post.posted_at.strftime(%M)</span>
      						<span class="day">post.posted_at.strftime(%-d)</span>
      					</div>
      					<div class="blogitem-hoverinfo">
      						<p>raw truncate(post.post, :length => 150)</p>
      						<div class="blogitem-actions">
      						  <%= link_to post.title, "/posts/" + post.id.to_s %>
      							<a href="./images/blog01.jpg" class="tips img-circle lightbox" title="Preview image" data-placement="bottom" data-fancybox-group="blogimages"><span class="glyphicons white zoom_in"><i></i></span></a>
      							<a href="#blogitem-1" class="tips more-info img-circle" title="View Post" data-placement="bottom"><span class="glyphicons white share"><i></i></span></a>
      						</div>
      					</div>
      				</div>
      			</div><!--/row-->
			
              <div class="row-fluid">
                <article>
                  <h3><%= link_to post.title, "/posts/" + post.id.to_s %></h3>
                <article>
               </div> 
            <% end %>
      

      			<!-- /Featured Blog items -->
      			<div class="row" id="full-blog-items">
      				<div class="span9">
      				</div><!--/span9-->
      			</div><!--/row-->

      		</div><!--/section-->
      		<span class="clear"></span>
  </div>

  <div class="span2 sbright noprint" id="sidebar">
    <div class="sidebar-nav equal hidden-phone">
      <ul class="nav nav-list affix" id="resumenav">
        <li><a href="#about-me" class="scroller">About me</a></li>
        <li><a href="#personal-information" class="scroller">Personal Info</a></li>
        <li><a href="#employment" class="scroller">Employment</a></li>
        <li><a href="#education" class="scroller">Education</a></li>
        <li><a href="#skills" class="scroller">Skills</a></li>
        <li><a href="#testimonials" class="scroller">Testimonials</a></li>
        <li><a href="#hobbies" class="scroller">Hobbies</a></li>
        <li><a href="#portfolio" class="scroller">Portfolio</a></li>
        <li><a href="#blog" class="scroller">Blog</a></li>
      </ul>
    </div><!--/sidebar-nav -->
    <span class="clear"></span>
  </div><!--/span3 -->
</div>