<div class="row" id="content">
  <div class="span9" id="main-content">
    <div class="section first-section" id="about-me">
      <div class="row author">
        <div class="span2">
          <%= image_tag "grahambarnard.jpeg", "class" => "img-rounded" %>
        </div>
        <div class="span7">
          <h1>Graham Barnard <span class="degree">BSC</span></h1>
  		   	<h2 class="primary-color">Web & Mobile Developer</h2>
  		   </div>
  		 </div>
 
  		 <div class="well">
  			<h3>You found me!</h3>
  			<p class="lead">Welcome to my site, I'm a passionate web and mobile programmer. This is my homebase to write my opinions and showcase past work that I have done. I'm currently looking for opportunities that will allow me to learn new technologies or strengthen my skills. <br /><br />
If you need some help on a project or have something cool that you want to build, contact me and we can talk about it. </p>
        </div>
        
      	<div class="social-media noprint">
					<h5>Follow me</h5>
					<div>
						<div class="tips icon-btn" title="Github" data-placement="bottom"><a href="https://github.com/GrahamBarnard" target="_blank" class="glyphicons white github"><i></i></a></div>
						<div class="tips icon-btn" title="Twitter" data-placement="bottom"><a href="https://twitter.com/grahambarnard" target="_blank" class="glyphicons white twitter"><i></i></a></div>
						<div class="tips icon-btn" title="Linkedin" data-placement="bottom"><a href="http://ca.linkedin.com/in/barnardgraham/" target="_blank" class="glyphicons white linked_in"><i></i></a></div>
					</div>
				</div>		
    	</div><!--/section--> 

      <div class="section" id="personal-information">
        <h2 class="section-title"><span class="glyphicons user"><i></i></span>Personal Information<a href="#phone-navbar" class="top visible-phone"><i></i></span></a></h2>

  		  <div class="row">
  		  	<span class="clear"></span>
        	<div class="infoline span9">
            <div class="row">
  		  	    <div class="span2 muted">Email</div>
  		  	    <div class="span7"><a href="mailto:barnard.graham@gmail.com">barnard.graham@gmail.com</a></div>
  		  	  </div>
  		  	</div>
  	
  		  	<span class="clear"></span>
  	
        	<div class="infoline span9">
        	  <div class="row">
  			  	  <div class="span2 muted">Phone</div>
  			  	  <div class="span7">514-992-4514</div>
  			    </div>
  			  </div>
  		  	<span class="clear"></span>
  	
        	<div class="infoline span9 last">
        	  <div class="row">
  			  	  <div class="span2 muted">Website</div>
  			  	  <div class="span7"><a href="http://www.grahambarnard.com" title="">grahambarnard.com</a></div>
  			    </div>
  			  </div>
  		  	<span class="clear"></span>
  	  	</div>
    	</div><!--/section-->

    		<div class="section" id="employment">
  		  	<h2 class="section-title"><span class="glyphicons share_alt"><i></i></span>Employment<a href="#phone-navbar" class="top visible-phone"><i></i></span></a></h2>
  	
  		  	<div class="timeline">
  		
  	  			 <div class="timeline-item">
  	  			 	<div class="timeline-item-date">2011 - 2013</div>
  	  			 	<div class="timeline-item-trigger"><span class="glyphicons white circle_minus" data-toggle="collapse" data-target="#position1"><i></i></span></div>
  	  			 	<div class="timeline-arrow"><i></i></div>
  	  			 	<div class="timeline-item-content">
  						<h3 class="timeline-item-title" data-toggle="collapse" data-target="#position1">Intermediate Web Developer @ Walsh Integrated</h3>
  						<div class="collapse in" id="position1">
  							<p><small class="muted">from December 2011 to January 2013</small></p>
  							<h4 class="media-heading primary-color"></h4>
  							<p>Redesign and Maintain a CodeIgniter Backend System<br />
                Create REST Web Services for new mobile applications<br />
                Maintain 2 android mobile projects</p>
  							<p><a href="http://www.walshintegrated.com" target="_blank" title="Walsh Portal" class="noprint">&rarr; View website</a></p>
  						</div>
  					</div>
  				 </div><!--/timeline-item--> 
  				 <span class="clear"></span>
		 
  				 <div class="timeline-item">
  	  			 	<div class="timeline-item-date">2011</div>
  	  			 	<div class="timeline-item-trigger"><span class="glyphicons white circle_plus" data-toggle="collapse" data-target="#position2"><i></i></span></div>
  	  			 	<div class="timeline-arrow"><i></i></div>
  	  			 	<div class="timeline-item-content">
  						<h3 class="timeline-item-title" data-toggle="collapse" data-target="#position2">Freelance Development Work</h3>
  						<div class="collapse" id="position2">
  							<p><small class="muted">from 2011</small></p>
  							<h4 class="media-heading primary-color"></h4>
  							<p>Developed in a wide variety of control management system: Wordpress, Joomla, Magento, ExpressionEngine, etc<br />
                Front End Development using HTML5, CSS3 and Javascript/jQuery</p>	
  						</div>
  					</div>
  				 </div><!--/timeline-item--> 
  				 <span class="clear"></span>

  				 <div class="timeline-item">
  	  			 	<div class="timeline-item-date">2007</div>
  	  			 	<div class="timeline-item-trigger"><span class="glyphicons white circle_plus" data-toggle="collapse" data-target="#position3"><i></i></span></div>
  	  			 	<div class="timeline-arrow"><i></i></div>
  	  			 	<div class="timeline-item-content">
  						<h3 class="timeline-item-title" data-toggle="collapse" data-target="#position3">Automation Scripter @ Presagis</h3>
  						<div class="collapse" id="position3">
  							<p><small class="muted">2007</small></p>
  							<h4 class="media-heading primary-color">Automation Scripter and Software Tester</h4>
  							<p>Created automation scripts using the SilkTest language.<br />
                  Designed and developed test documentation.<br />
                  Software Tester for multiple products.<br />
                </p>	
                <p><a href="http://http://www.presagis.com/" target="_blank" title="Presagis" class="noprint">&rarr; View website</a></p>
  						</div>
  					</div>
  				 </div><!--/timeline-item--> 
  				 <span class="clear"></span>



  		  	</div><!--/timeline --> 
  		</div><!--/section-->
	
	
  	  	<div class="section" id="education">
  		  	<h2 class="section-title"><span class="glyphicons certificate"><i></i></span>Education<a href="#phone-navbar" class="top visible-phone"><i></i></span></a></h2>
  	
  		  	<div class="timeline">
  	  			 <div class="timeline-item">
  	  			 	<div class="timeline-item-date">2008 - 2010</div>
  	  			 	<div class="timeline-item-trigger"><span class="glyphicons white circle_plus" data-toggle="collapse" data-target="#education1"><i></i></span></div>
  	  			 	<div class="timeline-arrow"><i></i></div>
  	  			 	<div class="timeline-item-content">
  						<h3 class="timeline-item-title" data-toggle="collapse" data-target="#education1">University of Concordia</h3>
  						<div class="collapse" id="education1">
  							<p><small class="muted">2008 - 2010</small></p>
  							<h4 class="media-heading primary-color">Bachelor of Computer Science Specializing In Web Services</h4>
  						</div>
  					</div>
  				 </div><!--/timeline-item--> 
  				 <span class="clear"></span>
		 
  				  <div class="timeline-item">
  	  			 	<div class="timeline-item-date">2005-2008</div>
  	  			 	<div class="timeline-item-trigger"><span class="glyphicons white circle_plus" data-toggle="collapse" data-target="#education2"><i></i></span></div>
  	  			 	<div class="timeline-arrow"><i></i></div>
  	  			 	<div class="timeline-item-content">
  						<h3 class="timeline-item-title" data-toggle="collapse" data-target="#education2">CEGEP John Abbott College</h3>
  						<div class="collapse" id="education2">
  							<p><small class="muted">2005-2008</small></p>
  							<h4 class="media-heading primary-color">DCS, Computer Science</h4>
  						</div>
  					</div>
  				 </div><!--/timeline-item--> 
  				 <span class="clear"></span>
  		  	</div><!--/timeline --> 
	
  	  	</div><!--/section-->

  	  	<div class="section skills" id="skills">
  	  		<h2 class="section-title"><span class="glyphicons cogwheels"><i></i></span>Skills<a href="#phone-navbar" class="top visible-phone"><i></i></span></a></h2>

          <% if @skills %>
            <% @skills.each do |skill| %>
      
            <% unless @currentSkillTypeId && @currentSkillTypeId == skill.skilltype.id %>
                <% @currentSkillTypeId = skill.skilltype.id %>
      		  	  <h3><%= skill.skilltype.name %></h3>
            <% end %>
      
              <div class="row">
      		  		<div class="span2"><%= skill.name %></div>
      		  		<div class="span3">
      		  			<span class="printonly">Good</span>
      		  			<div class="progress">
         						<div class="bar" style="width: <%= skill.rating %>%;"></div>
          				</div>
      		  		</div>
      		  	</div>
      
            <% end %>
          <% end %>
  	
  		  	<hr/>
  				  	

  	
  	  	</div><!--/section-->

  	    	<div class="section" id="testimonials">
  			  	<h2 class="section-title"><span class="glyphicons comments"><i></i></span>Testimonials<a href="#phone-navbar" class="top visible-phone"><i></i></span></a></h2>
	  	
  			  	<div class="testimonial">
  			  	  <div class="media">
  			  	    <%= image_tag "paul_hamilton.jpeg", "class" => "media-object pull-left" %>
    					  <div class="media-body">
    				  	  <blockquote>
    						    <p>Graham was a pleasure to work with. He showed patience and insight in addressing technology challenges and could be counted on to deliver quality results.</p>
    						    <small><a href="#" title="">Paul Hamilton</a><cite> | CTO @ Walsh Integrated</cite></small>
    					    </blockquote>
      				  </div>
    				  </div>
  				  </div>
		
  				<div class="testimonial">
  					<div class="media">
  					  <%= image_tag "alex_aw.jpeg", "class" => "media-object pull-left" %>
  						<div class="media-body">
  							<blockquote>
  								  <p>Graham has an eye for detail and a can do attitude that makes him extremely valuable to a project. Working with Graham was a great way to learn more about web development, which he has a firm understanding of.</p>
  								  <small><a href="#" title="">Alex Aw</a><cite> | IT @ Walsh Integrated</cite></small>
  							</blockquote> 
  						</div>
  					</div>
  				</div>

  			</div><!--/section-->
	
  			<div class="section hobbies" id="hobbies">
  		  		<h2 class="section-title"><span class="glyphicons heart_empty"><i></i></span>Hobbies<a href="#phone-navbar" class="top visible-phone"><i></i></span></a></h2>
	  	
  			  	<div class="row">
  			  		<div class="span9">
  			  		  <span class="label"><span class="glyphicons white hockey"><i></i>Ball Hockey</span></span>
  			  			<span class="label"><span class="glyphicons white football"><i></i>Football</span></span>
                <span class="label"><span class="glyphicons white dog"><i></i>Dog</span></span>
    		  		</div>
  			  	</div>
	  	
  		  	</div><!--/section-->
  	
  		  		<div class="section clearfix noprint" id="portfolio">
      				<h2 class="section-title"><span class="glyphicons show_thumbnails"><i></i></span>Portfolio<a href="#phone-navbar" class="top visible-phone"><i></i></span></a></h2>

      				<ul class="nav nav-pills" id="portfolio-filters">
      					<li class="active"><a href="#" data-filter="*">All</a></li>
      					<li><a href="#" data-filter=".portfolio-type1">Type 1</a></li>
      					<li><a href="#" data-filter=".portfolio-type2">Type 2</a></li>
      					<li><a href="#" data-filter=".portfolio-type3">Type 3</a></li>
      				</ul>

      				<!-- Featured Portfolio items -->
      				<div class="row" id="portfolio-items">

      					<div class="span3 portfolioitem portfolio-type1">
      						<img src="./images/thumb01.jpg" alt="">
      						<div class="portfolioitem-hoverinfo">
      							<h3>Lorem ipsum</h3>
      							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      							<div class="portfolioitem-actions">
      								<a href="./images/01.jpg" class="tips img-circle lightbox" title="Preview image" data-placement="bottom" data-fancybox-group="portfolioimages"><span class="glyphicons white zoom_in"><i></i></span></a>
      								<a href="#portfolioitem-1" class="tips more-info img-circle" title="View Project" data-placement="bottom"><span class="glyphicons white share"><i></i></span></a>
      							</div>
      						</div>
      					</div><!--/portfolioitem-->

      				</div><!--/row-->
      				<!-- /Featured Portfolio Items -->

      				<div class="row" id="full-portfolio-items">
      					<div class="span9">

      						<a href="#" class="btn btn-primary hidden" id="portfolio-back">&larr; Back to Portfolio List</a>

      						<!-- This is a Portfolio item -->
      						<div class="portfolioitem-content hidden" id="portfolioitem-1">
      							<img src="./images/01.jpg" alt="">
      							<h2 class="primary-color">Lorem ipsum</h2>

      							<h3>Lectus tristique scelerisque</h3>
      							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.</p>


      							<ul class="pager">
      								<li class="previous"><a href="#portfolioitem-6" class="">&larr; Previous</a></li>
      								<li class="next"><a href="#portfolioitem-2" class="">Next &rarr;</a></li>
      							</ul>

      						</div>
      						<!-- /Portfolio item -->

      						<!-- This is a Portfolio item -->
      						<div class="portfolioitem-content hidden" id="portfolioitem-2">
      							<img src="./images/02.jpg" alt="">
      							<h2 class="primary-color">Cras gravida fringilla</h2>

      							<h3>Accumsan dolor ornare</h3>
      							<p>Vivamus gravida convallis est, non tristique nisl pellentesque ut. Praesent congue tortor vel quam scelerisque in suscipit elit malesuada. Nam volutpat ultricies augue, ac accumsan dolor ornare eu. Nam ut egestas nulla. Nunc ullamcorper, nulla vitae pellentesque dictum, diam ligula iaculis ipsum, aliquam vestibulum leo libero vel turpis. Nunc cursus dignissim sodales. </p>


      							<ul class="pager">
      								<li class="previous"><a href="#portfolioitem-1" class="">&larr; Previous</a></li>
      								<li class="next"><a href="#portfolioitem-3" class="">Next &rarr;</a></li>
      							</ul>

      						</div>
      						<!-- /Portfolio item -->

      						<!-- This is a Portfolio item -->
      						<div class="portfolioitem-content hidden" id="portfolioitem-3">
      							<img src="./images/03.jpg" alt="">
      							<h2 class="primary-color">Nulla diam lacus</h2>

      							<h3>Etiam sagittis, felis id </h3>
      							<p>Etiam eleifend sem ornare lacus ullamcorper interdum. Aenean nec justo nisl, vel cursus nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque, eros at vestibulum feugiat, ante urna cursus turpis, in rhoncus enim lorem ac nisl. Phasellus tristique ultricies metus, a condimentum lacus sagittis non. Phasellus euismod nulla eget lacus aliquam auctor. </p>
      							<p>Sed nisl sem, semper id sollicitudin vitae, pharetra at tellus. Ut eu sem vitae erat rhoncus posuere. Praesent hendrerit, nunc nec molestie bibendum, leo metus volutpat lacus, a luctus ante massa a lectus. Etiam sagittis, felis id dignissim pulvinar, purus lorem tempor lectus, et suscipit mauris lorem et elit. </p>


      							<ul class="pager">
      								<li class="previous"><a href="#portfolioitem-2" class="">&larr; Previous</a></li>
      								<li class="next"><a href="#portfolioitem-4" class="">Next &rarr;</a></li>
      							</ul>

      						</div>
      						<!-- /Portfolio item -->

      						<!-- This is a Portfolio item -->
      						<div class="portfolioitem-content hidden" id="portfolioitem-4">
      							<img src="./images/04.jpg" alt="">
      							<h2 class="primary-color">Proin quam lacus</h2>

      							<h3>Subtitle</h3>
      							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.</p>


      							<ul class="pager">
      								<li class="previous"><a href="#portfolioitem-3" class="">&larr; Previous</a></li>
      								<li class="next"><a href="#portfolioitem-5" class="">Next &rarr;</a></li>
      							</ul>

      						</div>
      						<!-- /Portfolio item -->

      						<!-- This is a Portfolio item -->
      						<div class="portfolioitem-content hidden" id="portfolioitem-5">
      							<img src="./images/05.jpg" alt="">
      							<h2 class="primary-color">Tellus ligula</h2>

      							<h3>ullam pharetra, metus id semper fringilla</h3>
      							<p>Praesent suscipit pellentesque est, non blandit ante feugiat in. Aliquam erat volutpat. Donec lorem sem, vestibulum ac vehicula in, tempus sit amet sem. Curabitur nec ante risus. Integer libero nunc, euismod in mattis ac, auctor in arcu. Nullam pharetra, metus id semper fringilla, est lorem euismod lectus, at dignissim elit turpis et dolor. Praesent adipiscing, metus eget lacinia viverra, dolor nibh consequat erat, a rutrum leo nulla non metus. </p>


      							<ul class="pager">
      								<li class="previous"><a href="#portfolioitem-4" class="">&larr; Previous</a></li>
      								<li class="next"><a href="#portfolioitem-6" class="">Next &rarr;</a></li>
      							</ul>

      						</div>
      						<!-- /Portfolio item -->

      						<!-- This is a Portfolio item -->
      						<div class="portfolioitem-content hidden" id="portfolioitem-6">
      							<img src="./images/07.jpg" alt="">
      							<h2 class="primary-color">In sed eleifend orci</h2>

      							<h3>Enim mauris rhoncus elit</h3>
      							<p>Phasellus condimentum pulvinar tincidunt. Phasellus vehicula, felis id auctor placerat, nunc magna feugiat nunc, vitae tempor metus lorem ac quam. In vel lacus nibh, a varius metus.</p>
      							<p>Suspendisse ut tortor ligula, id fringilla mi. Curabitur bibendum tortor tempus sem posuere vehicula accumsan mauris molestie. Etiam eget nulla vel sem tristique dapibus. In orci justo, pharetra vel scelerisque eu, gravida vel felis. Etiam mattis blandit rutrum. Maecenas viverra massa sed sem feugiat sed mollis dolor venenatis. In aliquet, sem et cursus scelerisque, enim mauris rhoncus elit, sit amet ornare massa metus non lectus. </p>


      							<ul class="pager">
      								<li class="previous"><a href="#portfolioitem-5" class="">&larr; Previous</a></li>
      								<li class="next"><a href="#portfolioitem-1" class="">Next &rarr;</a></li>
      							</ul>

      						</div>
      						<!-- /Portfolio item -->

      				</div><!--/span9-->

      			</div><!--/row-->



      		</div><!--/section-->
		
		
      		<div class="section noprint" id="blog">
      			<h2 class="section-title"><span class="glyphicons pencil"><i></i></span>Blog<a href="#phone-navbar" class="top visible-phone"><i></i></span></a></h2>

      			<!-- Featured Blog items -->
      			<% @posts.each do |post| %>
      			<div class="row" id="blog-items">
      				<div class="span3 blogitem">
      					<img src="./images/thumbblog01.jpg" alt="">
      					<h3>Lorem ipsum</h3>
      					<div class="blogitem-date">
      						<span class="month">post.posted_at.strftime(%M)</span>
      						<span class="day">post.posted_at.strftime(%-d)</span>
      					</div>
      					<div class="blogitem-hoverinfo">
      						<p>raw truncate(post.post, :length => 150)</p>
      						<div class="blogitem-actions">
      						  <%= link_to post.title, "/posts/" + post.id.to_s %>
      							<a href="./images/blog01.jpg" class="tips img-circle lightbox" title="Preview image" data-placement="bottom" data-fancybox-group="blogimages"><span class="glyphicons white zoom_in"><i></i></span></a>
      							<a href="#blogitem-1" class="tips more-info img-circle" title="View Post" data-placement="bottom"><span class="glyphicons white share"><i></i></span></a>
      						</div>
      					</div>
      				</div>
      			</div><!--/row-->
			
              <div class="row-fluid">
                <article>
                  <h3><%= link_to post.title, "/posts/" + post.id.to_s %></h3>
                <article>
               </div> 
            <% end %>
      

      			<!-- /Featured Blog items -->
      			<div class="row" id="full-blog-items">
      				<div class="span9">

      					<a href="#" class="btn btn-primary hidden" id="blog-back">&larr; Back to Blog List</a>

      					<!-- This is a blog item -->
      					<div class="blogitem-content hidden" id="blogitem-1">
      						<img src="./images/blog01.jpg" alt="">
      						<h2 class="primary-color">Lorem ipsum</h2>
      						<div class="blogmeta muted">
      							<div><span class="glyphicons user"><i></i></span>Mike Smith</div>
      							<div><span class="glyphicons calendar"><i></i></span>June 15, 2012</div>
      							<div><span class="glyphicons inbox"><i></i></span>Category</div>
      							<div><span class="glyphicons tags"><i></i></span>Lorem, Ipsum, Dolor, Sit amet</div>
      						</div>
      						<h3>Lorem ipsum</h3>
      						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.</p>


      						<ul class="pager">
      							<li class="previous"><a href="#blogitem-6" class="">&larr; Previous</a></li>
      							<li class="next"><a href="#blogitem-2" class="">Next &rarr;</a></li>
      						</ul>

      					</div>
      					<!-- / Blog item -->


      				</div><!--/span9-->
      			</div><!--/row-->

      		</div><!--/section-->
      		<span class="clear"></span>

  </div>

  <div class="span2 sbright noprint" id="sidebar">
    <div class="sidebar-nav equal hidden-phone">
      <ul class="nav nav-list affix" id="resumenav">
        <li><a href="#about-me" class="scroller">About me</a></li>
        <li><a href="#personal-information" class="scroller">Personal Info</a></li>
        <li><a href="#employment" class="scroller">Employment</a></li>
        <li><a href="#education" class="scroller">Education</a></li>
        <li><a href="#skills" class="scroller">Skills</a></li>
        <li><a href="#testimonials" class="scroller">Testimonials</a></li>
        <li><a href="#hobbies" class="scroller">Hobbies</a></li>
        <li><a href="#portfolio" class="scroller">Portfolio</a></li>
        <li><a href="#blog" class="scroller">Blog</a></li>
      </ul>
    </div><!--/sidebar-nav -->
    <span class="clear"></span>
  </div><!--/span3 -->
</div>