<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Graham Barnard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="website">
    <header>
      <nav>
        <ul>
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "Websites", sites_path %></li>
          <li><%= link_to "Blog", posts_path %></li>
          <% if session[:user_id] %>
            <li><%= link_to "Admin Panel", admin_path %></li>
            <li><%= link_to "Logout", logout_path, :method=>:delete %></li>
          <% else %>
          
          <% end %>
        </ul>
      </nav>
    </header>

    <div class="main">
      <%= yield %>
    </div>

    <footer>
      <nav class="social-navigation">
        <a href="https://twitter.com/grahambarnard" target="_blank" class="social-network twitter"></a>
        <a href="http://www.linkedin.com/in/barnardgraham" target="_blank" class="social-network linkedin"></a>
        <a href="mailto: barnard.graham@gmail.com" target="_blank" class="social-network email"></a>
      </nav>
      <div class="copyright">©Copyright Graham Barnard <%= Time.now.year %> All Rights Reserved</div>
    </footer>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
