<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Graham Barnard</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="backgrounded" data-spy="scroll" data-target=".sidebar-nav">
  <div class="navbar navbar-inverse navbar-fixed-top visible-phone noprint" id="phone-navbar">
  	<div class="navbar-inner">
  		<div class="container">
  			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  			</a>
  			<a class="brand" href="#">Graham Barnard</a>
  			<div class="nav-collapse collapse">
  				<ul class="nav">
  					<li><a href="#about-me" class="scroller">About me</a></li>
  					<li><a href="#personal-information" class="scroller">Personal Info</a></li>
  					<li><a href="#employment" class="scroller">Employment</a></li>
  					<li><a href="#education" class="scroller">Education</a></li>
  					<li><a href="#skills" class="scroller">Skills</a></li>
  					<li><a href="#testimonials" class="scroller">Testimonials</a></li>
  					<li><a href="#hobbies" class="scroller">Hobbies</a></li>
  					<li><a href="#portfolio" class="scroller">Portfolio</a></li>
  					<li><a href="#blog" class="scroller">Blog</a></li>
  				</ul>
  			</div><!--/.nav-collapse -->
  		</div>
  	</div>
  </div><!--/#phone-navbar -->

  <div class="container">
    <header>
      <nav>
        <ul>
          <% if session[:user_id] %>
            <li><%= link_to "Admin Panel", admin_path %></li>
            <li><%= link_to "Logout", logout_path, :method=>:delete %></li>
          <% else %>
          <% end %>
        </ul>
      </nav>
    </header>

    <div class="main">
      <%= yield %>
    </div>

    <footer>
      <div class="copyright">©Copyright Graham Barnard <%= Time.now.year %></div>
    </footer>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
